<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717365573323-5h2ujgsuqoaggnno2rjnqnmduhl2iem5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717365573323-5h2ujgsuqoaggnno2rjnqnmduhl2iem5</string>
	<key>API_KEY</key>
	<string>AIzaSyD7XNTUR1X_-kFn1LWvagCG4a9e62WHtOM</string>
	<key>GCM_SENDER_ID</key>
	<string>717365573323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soulspring</string>
	<key>PROJECT_ID</key>
	<string>soulspring-32d30</string>
	<key>STORAGE_BUCKET</key>
	<string>soulspring-32d30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717365573323:ios:65113a5d82976fe23acd4e</string>
</dict>
</plist>